<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSFileProtectionComplete</key>
	<true/>
	<key>GIDClientID</key>
	<string>145493401261-ngkvg6ordlcruh4komak5u78c4slvrjv.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.145493401261-ngkvg6ordlcruh4komak5u78c4slvrjv</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
